.personal_content {
  width: 500px;
  margin: 40px auto 80px;
  border-left: 0px solid #f9f9f9;
  /* padding-left: 60px; */
}

.icon-zhihu {
  background-color: blue;
}

.category-box .category-list {
  margin-left: 0px;
}

.page-header {
  margin-bottom: 30px;
  margin-left: -22px;
}

.tag-box .tag-list {
  margin-left: 0px;
}

.about_personal_content {
  width: 500px;
  margin: 40px auto 80px;
  border-left: 0px solid #f9f9f9;
  /* padding-left: 60px; */
}

.about_personal_content .page-header {
  margin-left: -1px;
}

.about_personal_content .content {
  border-left: 0px;
}

/*
.toolbox .list-toolbox {
  display: block;
}
*/

.toolbox .list-toolbox .item-toolbox a {
  background-color: #fff;
  font-size: 10px;
}

.toolbox .toolbox-entry {
  background-color: #fff;
}

.toolbox .list-toolbox .item-toolbox a.ROUND_RECT {
  padding: 0 18px;
}


/*
.toolbox {
  display: none;
}

.content.content-about .dot {
  display: none;
}
*/

.content.content-about .about-list .about-item .text {
  padding-left: 125px;
}

.content.content-about .about-list {
  margin-top: 100px;
}

.item-post .post-title {
  font-weight: bold;
  font-size: 14px;
}

.item-year a.text-year {
  font-size: 16px;
}

.item-year {
  margin-top: 15px;
}

.aboutdiv {
  margin: 0px auto;
  font-weight: bold;
  width: 300px;
  margin-top: 125px;
  padding-left: 20px;
}

.item-post .post-title {
  max-width: 280px;
}

.personal_content {
  width: 380px;
}

.sidebar-toggle-parent {
    position: absolute;
    top: 1px;
    width: 100%;
    height: 100%;
    text-align: center;
    /*z-index: -10;*/
}

.sidebar-toggle {
    position: fixed;
    left: 49.1%;
    bottom: 0px;
    width: 22px;
    top: 0;
    height: 22px;
    background: #222;
    /* line-height: 0;
    padding: 5px; */
    z-index: 1050;
    cursor: pointer;
    font-weight: bold;
    -webkit-transform: translateZ(0);
}

.sidebar-toggle .hfont {
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.content-home .slogan {
  font-style: italic;
  font-size: 13px;
}

.item-title {
  padding-left: 0px;
  text-align: center;
}

.item-title:before {
  display: none;
}

.pagination {
  z-index: 500;
}
