.personal_content {
  width: 500px;
  margin: 40px auto 80px;
  border-left: 0px solid #f9f9f9;
  /* padding-left: 60px; */
}

.icon-zhihu {
  background-color: blue;
}

.category-box .category-list {
  margin-left: 0px;
}

.page-header {
  margin-bottom: 30px;
  margin-left: -22px;
}

.tag-box .tag-list {
  margin-left: 0px;
}

.about_personal_content {
  width: 500px;
  margin: 40px auto 80px;
  border-left: 0px solid #f9f9f9;
  /* padding-left: 60px; */
}

.about_personal_content .page-header {
  margin-left: -1px;
}

.about_personal_content .content {
  border-left: 0px;
}

/*
.toolbox .list-toolbox {
  display: block;
}
*/

.toolbox .list-toolbox .item-toolbox a {
  background-color: #fff;
  font-size: 10px;
}

.toolbox .toolbox-entry {
  background-color: #fff;
}

.toolbox .list-toolbox .item-toolbox a.ROUND_RECT {
  padding: 0 18px;
}


/*
.toolbox {
  display: none;
}

.content.content-about .dot {
  display: none;
}
*/

.content.content-about .about-list .about-item .text {
  padding-left: 125px;
}

.content.content-about .about-list {
  margin-top: 100px;
}

.item-post .post-title {
  font-weight: bold;
  font-size: 14px;
}

.item-year a.text-year {
  font-size: 16px;
}

.item-year {
  margin-top: 15px;
}

.aboutdiv {
  margin: 0px auto;
  font-weight: bold;
  width: 200px;
  margin-top: 125px;
}

.item-post .post-title {
  max-width: 280px;
}

.personal_content {
  width: 380px;
}
